* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  display: flex;
  height: 700px;
  margin: 0 auto;
}
.background {
  position: relative;
  background: url(background.png);
  width: 670px;
  height: 100%;
}
.right-side {
  position: absolute;
  left: 640px;
  height: 100vh;
  background-color: #ffff;
  border: 10px solid;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-color: #ffff;
}
.logo {
  margin: 40px 315px 60px 300px;
}
.input-box {
  margin-top: 20px;
  margin-left: 300px;
  margin-bottom: 22px;
}
input {
  border: none;
  border-bottom: 1px solid #003d61;
  background: transparent;
  outline: none;
  width: 400px;
  height: 40px;
  align-items: center;
}
.input-name {
  font-size: 20px;
  color: #003d61;
}
a {
  color: palevioletred;
}
h5 {
  display: inline;
  margin-top: 20px;
  color: #003d61;
  font-size: 16px;
  vertical-align: middle;
  font-weight: bold;
}
p {
  margin-top: 20px;
  color: #003d61;
  font-size: 16px;
  margin-left: 355px;
  font-weight: bold;
}
.on-off-button {
  position: relative;
  border: 1px solid;
  width: 36px;
  height: 20.5px;
  border-radius: 100px;
  background-color: #233d4e;
  margin-left: 300px;
  vertical-align: middle;
  vertical-align: middle;
}
.on-off-button .circle {
  position: absolute;
  border: 1px solid;
  width: 18px;
  height: 18px;
  border-radius: 100px;
  background-color: #ffff;
  border-color: #ffff;
}
.inline,
.on-off-button {
  display: inline-block;
  margin-top: 20px;
}
.icons {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.apple {
  margin-left: 30px;
  margin-right: 30px;
}
